---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Neucha|Roboto');

/* Base - Variables */
$main-pink: #fe2a61;
$main-blue: #2ebcf9;
$main-gray: #626262;

$darkgray: #444;
$gray: #767676;
$lightgray: #eee;
$superlight: #f1f1f1;

/* Link colors */
$link-hover: darken($main-blue, 10%);

// Our variables
$heading-font: 'Neucha', cursive;
$base-font-family: 'Roboto', sans-serif;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "theme/mixins",
  "theme/main",
  "syntax-highlighting"
;
