---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* Base - Variables */
$main-pink: #FF4081;
$main-blue: #64B5F6;
$main-gray: #626262;

$darkgray: #444;
$gray: #767676;
$lightgray: #eee;
$superlight: #f1f1f1;

/* Link colors */
$link-hover: darken($main-blue, 10%);

// Our variables
$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.4;
$spacing-unit:     30px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "theme/mixins",
  "theme/main",
  "syntax-highlighting"
;
