---
layout: page
title: Work
permalink: /work/
---
<div class="row u--margin-top">
  {% for work in site.data.work %}
    <a class="work" href="{{ work.link }}" target="_blank">
      <div class="row row__items--center">
        <div class="column-two">
          <img src="/assets/work/{{work.img}}" alt="Join'em" />
        </div>
        <div class="column-two">
          <section>
            <h4>{{ work.name }}</h4>
            {% for tag in work.tags %}
              <div class="tags">{{ tag.name }}</div>
            {% endfor %}
          </section>
          <p class="u--margin-top">
            {{ work.description }}
          </p>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
