---
layout: page
title: Work
permalink: /work/
---

<div class="u--margin-top">
  {% for work in site.data.work %}
    <div class="row flex__row--align-middle-earth u--margin-top--xl">
      <div class="column-two">
        <img src="/assets/work/{{work.img}}" alt="Join'em" class="img--responsive"/>
      </div>
      <div class="column-two">
        <section>
          <h4>{{ work.name }} - ({{ work.year }})</h4>
          {% for tag in work.tags %}
            <div class="tags">{{ tag.name }}</div>
          {% endfor %}
          <p class="u--margin-top">
            {{ work.description }}
          </p>
          <a href="{{ work.link }}" target="_blank" class="btn btn-pink">View Site</a>
        </section>
      </div>
    </div>
  {% endfor %}
</div>
