footer {
  background: #f1f1f1;
  border-top: #d4d4d4 2px solid;
  margin-top: 15px;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 10px 0;
  @media screen and (max-width: 740px){
    text-align: center;
  }
  p {
    font-size: 11px;
  }

}

.blog-footer {
  color: $main-pink;
  font-size: 0.8em;
}
