footer {
  margin-top: 15px;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  p {
    font-size: 11px;
  }

}

.blog-footer {
  color: $main-pink;
  font-size: 0.8em;
}
