* { box-sizing: border-box; }

///// GRID /////
.container {
  margin: 0 auto;
  max-width: 700px;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.figure__row {
  align-items: center;
  background-color: $lightgray;
  border-left: $main-pink dashed;
  display: flex;
  margin: 0;
  padding: 10px;
}

article[class^="component-"] {
  border-bottom: $lightgray dashed;
  padding-bottom: 20px;
}

div[class^="column"] {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.column-one {
  flex-basis: 100%;
  max-width: 100%;
}

.column-two {
  flex-basis: 100%;
  max-width: 100%;
  @media only screen and (min-width: 62em) {
    flex-basis: 50%;
    max-width: 50%;
  }
  &--xs {
    flex-basis: 50%;
    max-width: 50%;
  }
}

///// DEFAULTS /////
html, body {
  margin: 0;
  color: $darkgray;
  font-family: $font;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

blockquote {
  font-size: 1.1rem;
  font-style: italic;
  color: $gray;
  padding: 15px;
  border-left: $main-blue 4px solid;
}

a {
  color: $main-blue;
  line-height: 1;
  text-decoration: none;
  &:hover {
    color: $link-hover;
    cursor: pointer;
  }
}

p { line-height: $base-line-height; }

///// NAV /////
.nav {
  font-size: 1.1rem;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-top: 0;
  &__list-item { display: inline-block; }
  &__link {
    border-bottom: 1px #fff solid;
    color: $main-blue;
    font-weight: 700;
    padding: 10px 15px;
    text-decoration: none;
    &:hover, &.active {
      border-color: $main-blue;
      -webkit-transition: border-color 1s ease;
    }
  }
}

///// MEDIA /////
.media--responsive {
  iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
  }
}

.img--responsive {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.img--circle-lg {
  border-radius: 50%;
  margin-top: 10px;
  width: 125px;
}

///// HEADINGS /////
h1 {
  margin-top: 10px;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 200;
  letter-spacing: initial;
  font-size: 1.6rem;
}

h3 { text-transform: capitalize; }
time { display: block; }

h4 {
  margin-top: 12px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.component-heading {
  color: $gray;
  border-bottom: $lightgray dashed;
  padding-left: 0;
  margin-bottom: 10px;
}

///// UTILITIES /////
.u--text-darkgray { color: $darkgray; }
.u--text-gray { color: $gray; }
.u--text-pink { color: $main-pink; }

.u--text-thin { font-weight: 400; }

.u--text-center { text-align: center; }
.u--text-right { text-align: right; }

.u--margin-top { margin-top: 5px; }
.u--margin-right-10 { margin-right: 10px; }
.u--margin-top--xl { margin-top: 20px; }

.u--margin-bottom--none { margin-bottom: 0; }

.text-block { margin: 7px  0; }
.u--inline-text { display: inline; }

@media screen and (max-width: 62em){
  .u--margin-top-mobile { margin-top: 20px; }
}
///// BUTTONS /////
.btn {
  background-color: #fff;
  color: #fff;
  border-radius: 25px;
  border: 1px solid;
  font-size: 13px;
  display: inline-block;
  width: auto;
  margin-right: 5px;
  padding: 7px 15px;
  &:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
}

.btn-social {
  border-radius: 25px;
  color: #fff;
  font-size: 0.95em;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  margin: 0 3px;
  padding: 0 15px;
  vertical-align: middle;
  &:hover {
    text-shadow:none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: #fff;
    background: $superlight;
  }
  &.dribbble {
    background: #ea4c89;
    border-color: darken(#ea4c89, 5%);
  }
  &.github {
    background: #000;
    border-color: lighten(#000, 5%);
  }
  &.linkedin {
    background-color: #006fa6;
    border-color: darken(#006fa6, 5%);
  }
  &.codepen {
    background: #76daff;
    color: #fff;
    border-color: darken(#76daff, 5%);
  }
}

.btn-pink {
  color: $main-pink;
  border-color: darken($main-pink, 10%);
  &:hover {
    background-color: darken($main-pink,10%);
  }
}

.btn-blue {
  color: $main-blue;
  border-color: darken($main-blue, 10%);
  &:hover{
    background-color: darken($main-blue,10%);
  }
}

///// LISTS /////
.checklist {
  list-style: none;
  padding-left: 15px;
  margin: 0;
    &__item {
      padding-left: 1.1em;
      &::before {
      content: "\2713";
      display: inline-block;
      margin-left: -1.1em;
      width: 1.1em;
    }
  }
}

.work {
  position: relative;
  display: block;
  padding: 6px 20px;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  margin-bottom: 15px;
}

.tags {
  border-radius: 3px;
  display: inline-block;
  font-size: 0.65em;
  color: $main-gray;
  line-height: 14px;
  background-color: $lightgray;
  margin: 10px 4px 3px 0;
  padding: 3px 8px;
}

///// FOOTER /////
footer {
  font-size: $small-font-size;
  width: 100%;
  padding: 10px 0;
}

///// CODE /////
code {
  background: $lightgray;
  border-radius: 2px;
  padding: 15px;
  border: $lightgray solid 1px;
  font-size: 0.9rem;
  display: block;
  margin: 10px 0;
}

.code-inline {
  background: $lightgray;
  border-radius: 2px;
  border: $lightgray solid 1px;
  line-height: 22px;
  padding: 0 5px;
  color: darken($main-blue, 15%);
  font-family: monospace;
  font-size: 0.9rem;
}
