%vertical-rhythm { margin-bottom: $spacing-unit / 2; }

@mixin align-items($value) {
  -webkit-align-items: $value;
	-moz-align-items: $value;
	align-items: $value;
}

.flex__row--align-middle-earth {
  @include align-items(center);
}
