<footer>
  <div class="container">
    <div class="row middle-earth">
      <div class="col-md-12">
        <p class="text-center">email me: <span class="text-pink">sceendy[at]gmail.com</span></p>
      </div>
    </div>
  </div>
</footer>

<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-25355768-1');ga('send','pageview');
  </script>
