<footer class="u--text-center">
  <p>
    <a href="http://dribbble.com/sceendy" target="_blank" class="btn-social dribbble">dribbble</a>
    <a href="https://github.com/sceendy" target="_blank" class="btn-social github">github</a>
    <a href="http://codepen.io/sceendy/" target="_blank" class="btn-social codepen">codepen</a>
    <a href="https://www.linkedin.com/in/sceendy" target="_blank" class="btn-social linkedin">linkedin</a>
  </p>
</footer>

<script>
    (function(c,i,n,d,y,j){c.GoogleAnalyticsObject=n;c[d]||(c[d]=
    function(){(c[d].q=c[d].q||[]).push(arguments)});c[d].d=+new Date;
    y=i.createElement(n);j=i.getElementsByTagName(n)[0];
    y.src='//www.google-analytics.com/analytics.js';
    j.parentNode.insertBefore(y,j)}(window,document,'script','ga'));
    ga('create','UA-25355768-1');ga('send','pageview');
  </script>
