<footer>
  <p class="u--text-center"><span class="u--text-pink">sceendy</span>[at]<span class="u--text-pink">gmail.com</span></p>
</footer>

<script>
    (function(c,i,n,d,y,j){c.GoogleAnalyticsObject=n;c[d]||(c[d]=
    function(){(c[d].q=c[d].q||[]).push(arguments)});c[d].d=+new Date;
    y=i.createElement(n);j=i.getElementsByTagName(n)[0];
    y.src='//www.google-analytics.com/analytics.js';
    j.parentNode.insertBefore(y,j)}(window,document,'script','ga'));
    ga('create','UA-25355768-1');ga('send','pageview');
  </script>
