<div class="container">
  <header class="row">
    <div class="column-one">
      <div class="u--text-center">
        <img src="/assets/cindy.jpg" alt="Cindy Juarez" class="img--circle-lg">
        <h1 class="u--text-pink">Hi, I'm {{ site.title }},</h1>
        <h2 class="headline">a Texas-based frontend engineer.</h2>
      </div>
    </div>
  </header>
  <div class="row">
    <nav class="column-one">
      <ul class="nav" role="navigation">
        {% for my_page in site.pages %}
        <li class="nav__list-item">
          {% if my_page.layout == 'page' %}
            {% if page.url == my_page.url %}

              <a href="{{ my_page.url | prepend: site.baseurl }}" class="nav__link active">{{my_page.title}}</a>
            {% else %}
              <a class="nav__link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>

            {% endif %}
          {% endif %}
          </li>
        {% endfor %}
        <li class="nav__list-item">
          {% if page.url == '/' %}
            <a class="nav__link active" href="/">Blog</a>
          {% else %}
            <a class="nav__link" href="/">Blog</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
</div>
