.btn {
  color: #fff;
  border-radius: 25px;
  border: 1px solid;
  font-size: 13px;
  display: inline-block;
  width: auto;
  &:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
  .fa {
    margin: 0 5px;
  }
}

.btn-social{
  border-radius: 50%;
  color: #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  margin: 0 3px;
  &:hover {
    text-shadow:none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: #fff;
    background: $superlight;
    -webkit-animation-name: spinnerRotate;
    -moz-animation-name: spinnerRotate;
    -ms-animation-name: spinnerRotate;

    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
  }
  .fa {
    display:inline-block;
    width: 30px;
    text-align: center;
    font-size: 19px;
    vertical-align: middle;
    line-height: 31px;
  }
  &.dribbble {
    background: #ea4c89;
    border-color: darken(#ea4c89, 5%);
  }
  &.codepen {
    background: #171515;
    color: #fff;
    &:hover {
      border-color: black;
    }
  }
}

.btn-pink {
  background: #fff;
  color: $main-pink;
  margin-right: 5px;
  padding: 7px 15px;
  border-color: darken($main-pink, 10%);
  &:hover {
    background-color: darken($main-pink,10%);
  }
}

.btn-blue {
  background: #fff;
  color: $main-blue;
  border-color: darken($main-blue, 10%);
  margin-right: 5px;
  padding: 7px 15px;
  &:hover{
    background-color: darken($main-blue,10%);
  }
}
