.work {
  position: relative;
  display: block;
  padding: 6px 20px;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  margin-bottom: 15px;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($main-pink, 0.8);
      content: '\f0c1 \A view website';
      font-family: 'FontAwesome', 'Roboto Slab', serif;
      padding-top: 12%;
      text-align: center;
      color: #fff;
      font-size: 1.3em;
    }
  }
  p.summary {
    margin-top: 5px;
  }
}

.tags {
  display: inline-block;
  font-size: 0.6em;
  color: $main-pink;
  line-height: 14px;
  background-color: #fff;
  margin: 10px 4px 3px 0;
  padding: 3px 5px;
  border: solid 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  &:before {
    content: '\f111';
    font-family: 'FontAwesome';
    color: $main-pink;
    padding-right: 4px;
    font-size: 6px;
    line-height: 14px;
  }
}

.user img {
  float: left;
  margin-right: 5px;
  border-radius: 50%;
  height: 40px;
}

.user span {
  display: block;
}

.interact {
  display: block;
  text-align: center;
  margin-bottom: 0;
  a {
    background: $main-blue;
    color:#fff;
    @extend .btn;
    margin-left: 5px;
    padding: 5px 13px;
  }
}

.nav {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-top: 0;
  li {
    display: inline-block;
  }
  a {
    padding: 10px 15px;
    font-weight: 700;
    border-bottom: 1px #fff solid;
    text-decoration: none;
    color: $main-blue;
    &:hover {
      border-color: $main-blue;
      -webkit-transition: border-color 1s ease;
    }
  }
}

.completed {
  list-style-type: none;
  li:before {
    content: '\f046';
    font-family: 'FontAwesome';
    color: $main-pink;
    margin-right: 5px;
    line-height: 19px;
    vertical-align: middle;
  }
}

.pagination {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  li {
    display: inline-block;
    color: $main-blue;
    border-radius: 25px;
    padding: 5px 10px;
    text-align: center;
    &:hover {
      background: $link-hover;
      color: #fff;
      cursor: pointer;
    }
    &.page--btn-disabled {
      background: lighten($link-hover, 15%);
      color: #fff;
      cursor: not-allowed;
    }
  }
}
