---
import AboutHeroImage from '../assets/italy-me.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A little about me and my career journey"
>
	<h2>✨ professional career</h2>
	<details>
		<summary>Feb 2018 - Current: <br/>Software Engineer -> Senior Software Engineer -> Staff Engineer @ <strong>Aetna</strong></summary>
		<p>⚡ I work on Aetna member features &amp; our design system component library.</p>
	</details>
	<details>
		<summary>Sept 2017 - Jan 2018: Freelanced while traveling</summary>
		<p>⚡ Did some work for startups &amp; the Texas State Athletic Trainers Association.</p>
	</details>
	<details>
		<summary>Oct 2015 - Aug 2017: <br/>Front-end Developer -> Senior Front-end Developer @ <strong>Kalkomey</strong></summary>
		<p>⚡ I worked on the custom content management system &amp; licensing system including a storefront.</p>
	</details>
	<details>
		<summary>Apr 2014 - Aug 2015: Software Engineer II @ <strong>Join'em</strong> (startup)</summary>
		<p>⚡ Built the UI for a social e-commerce web app including the living styleguide and a custom reusable pattern library.</p>
	</details>
	<details>
		<summary>Aug 2013 - Apr 2014: Front-end Developer @ <strong>Apollo Interactive</strong></summary>
		<p>⚡ Maintained and created new web pages for clients such as Wingstop, Visionworks, Stage Stores, Cache Creek, Cur ves, Extraco Banks, Studio Movie Grill, and Einstein Bros Bagels.</p>
	</details>
	<p><a href="../web-resume.pdf">resume.pdf</a></p>
	<h2>🔎 education/internships</h2>
	<ul>
		<li>2011-2013: web dev internships at design/marketing agencies</li>
		<li>2011-2013: on-campus job as designer/dev for the RecSports dept</li>
		<li>2011-2013: Graduated from <strong>UT-Dallas</strong> w/a BA in Emerging Media &amp; Comms (focus on UX), minored in Philosophy</li>
		<li>2008-2011: Graduated from <strong>Dallas College</strong> w/an AAS in Arts &amp; Tech (essentially UX + CS)</li>
	</ul>
	<p>feel free to reach out to me via <a href="https://github.com/sceendy/sceendy.github.io/issues" target="_blank" rel="noreferrer">github issues</a>; add the [public DM] label</p>
	<hr />
	<p></p>
	<h2 style="margin-bottom: 32px;">personal</h2>
	<h3>👩🏻‍💻 self-taught teen highlights</h3>
	<ul>
		<li>2008: made $80 building a custom MySpace layout for a local band</li>
		<li>2003: created a punk rock fan site on tripod writing my first ever HTML/CSS</li>
	</ul>
	<h3>travel history</h3>
	<p>🇲🇽🇪🇸🇮🇹🇻🇦🇨🇦🇵🇷🇬🇧🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁳󠁣󠁴󠁿🇮🇪🇯🇵🇮🇸🇫🇷🇨🇭</p>

	<h3>currently reading</h3>
	<ul>
		<li>"little women" by Louisa May Alcott</li>
		<li>"the art of war" by Sun Tzu</li>
		<li>"reclaiming conversation" by Sherry Turkle</li>
		<li>"grokking algorithms" by Aditya Y. Bhargava</li>
	</ul>
</Layout>
