---
import AboutHeroImage from '../assets/italy-me.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A little about me and my career journey"
	pubDate={new Date('March 23, 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Hi, my name is Cindy - I'm a staff engineer @ Aetna.
	</p>
	<p>
		After years of gradually reducing my social media footprint... I decided my internet presence should serve more of a purpose. Dude, I can't believe I used to have google analytics on my previous personal sites. Ew. Wtf, man.
	</p>
	<p>Anyway, I have a pretty classic story: millenial that learned some HTML/CSS/JS as a teen, started out with super basic stuff on Tripod/angelfire, made myspace layouts for my friends, etc. Realized I could do it for a living... and here I am. </p>
	<p>I do not have a profile on job/professional sites so my basic rundown can be seen below.</p>
	<h2>Work experience</h2>
	<h3>✨ professional career</h3>
	<ul>
		<li>February 2018 - Current: <br/>Software Engineer -> Senior Software Engineer -> Staff Engineer @ <strong>Aetna</strong></li>
		<li>September 2017 - January 2018: Freelanced while traveling
		<li>October 2015 - August 2017: <br/>Front-end Developer -> Senior Front-end Developer @ <strong>Kalkomey</strong></li>
		<li>April 2014 - August 2015: Software Engineer II @ <strong>Join'em</strong> (startup)</li>
		<li>August 2013 - April 2014: Front-end Developer @ <strong>Apollo Interactive</strong></li>
	</ul>
	<p><a href="../web-resume.pdf">resume.pdf</a></p>
	<h3>🔎 education/internships</h3>
	<ul>
		<li>2011-2013: web dev internships at design/marketing agencies</li>
		<li>2011-2013: on-campus job as graphics/web designer for RecSports dept</li>
		<li>2011-2013: Graduated from <strong>UT-Dallas</strong> w/a BA in Emerging Media &amp; Comms</li>
		<li>2008-2011: Graduated from <strong>Dallas College</strong> w/an AAS in Arts &amp; Tech</li>
	</ul>
	<h3>👩🏻‍💻 self-taught teen</h3>
	<ul>
		<li>2008: made $80 building a custom Myspace layout for a local band</li>
		<li>2003: created a punk rock fan site on tripod writing my first ever HTML/CSS</li>
	</ul>
</Layout>
