---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>hello, my name is Cindy</p>
			<p>I'm a staff engineer @ Aetna with 12 years of experience.</p>
			<p>I enjoy traveling; рџ‡Ірџ‡Ѕрџ‡Єрџ‡ёрџ‡®рџ‡№рџ‡»рџ‡¦рџ‡Ёрџ‡¦рџ‡µрџ‡·рџ‡¬рџ‡§рџЏґу Ѓ§у Ѓўу ЃҐу Ѓ®у Ѓ§у ЃїрџЏґу Ѓ§у Ѓўу Ѓіу ЃЈу Ѓґу Ѓїрџ‡®рџ‡Єрџ‡Їрџ‡µрџ‡®рџ‡ёрџ‡«рџ‡·</p>
			<p>>>> standby as I build this up and migrate my old blog posts...<<<</p>
		</main>
		<Footer />
	</body>
</html>
