---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import ProfileImage from '../assets/profile.jpg';
import { Image } from 'astro:assets';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="hero-image"><Image src={ProfileImage} alt="selfie" /></div>
			<p>👋 Hi, my name is Cindy</p>
			<ul>
				<li>I'm a staff engineer @ Aetna with 12 years of experience.</li>
				<li>I enjoy traveling, reading, running, and I can imagine myself being good at archery if I ever decided to try it.</li>
			</ul>
			<p>After years of gradually reducing my social media footprint, I decided my internet presence should <a href="./blog/first-post">serve more of a purpose</a>.</p>
			<p>I do not have a profile on job/career sites; try the <a href="./about">about</a> page.</p>
		</main>
		<Footer />
	</body>
</html>
