---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>hello рџ‘‹ my name is Cindy</p>
			<p>I'm a staff engineer @ Aetna with 12 years of experience.</p>
			<p>I'm still building out this page and carefully migrating old blog posts that I think could provide some value to others.</p>
			<p>Aside from that, I enjoy traveling, reading, running, and I can imagine myself being good at archery if I ever decided to try it.</p>
			рџ‡Ірџ‡Ѕрџ‡Єрџ‡ёрџ‡®рџ‡№рџ‡»рџ‡¦рџ‡Ёрџ‡¦рџ‡µрџ‡·рџ‡¬рџ‡§рџЏґу Ѓ§у Ѓўу ЃҐу Ѓ®у Ѓ§у ЃїрџЏґу Ѓ§у Ѓўу Ѓіу ЃЈу Ѓґу Ѓїрџ‡®рџ‡Єрџ‡Їрџ‡µрџ‡®рџ‡ёрџ‡«рџ‡·
		</main>
		<Footer />
	</body>
</html>
