---
layout: default
---

<article class="component-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="row">
    <header class="column-one">
      <h3 class="u--margin-bottom--none">{{ page.title }}</h3>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% for tag in page.tags %}
        <div class="tags">{{ tag }}</div>
      {% endfor %}
    </header>
  </div>
  <div class="row">
    <section class="column-one">
      {{ content }}
      <div class="u--text-center heading-blue-border">
        Learn something? Awesome!<br/> Feel free to fund my next cup of coffee:</br></br>
        <a href="https://digitaltipjar.com/sceendy?_external=true" class="dtj-tip-button" data-username="sceendy">
          Digital Tip Jar
        </a>
      </div>
    </section>
  </div>
  {% include comments.html %}
  <script>
    var a = document.querySelectorAll('.dtj-tip-button')[0];
      var i = document.createElement('IFRAME');
      i.setAttribute('src', "https://digitaltipjar.com/sceendy/widgets/tip?_external=true");
      i.setAttribute('frameborder','0');
      i.style.height = 70 +'px';
      i.style.width = 120 +'px';
      a.parentNode.insertBefore(i,a);
      a.parentNode.removeChild(a);
  </script>
</article>
