---
layout: default
---

<article class="component-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="row">
    <header class="column-one">
      <h3 class="u--margin-bottom--none">{{ page.title }}</h3>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% for tag in page.tags %}
        <div class="tags">{{ tag }}</div>
      {% endfor %}
    </header>
  </div>
  <div class="row">
    <section class="column-one">
      {{ content }}
      <div class="u--text-center heading-blue-border">
        Learn something? Awesome!<br/><br/>
        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy Me a Coffee', '#FF4081', 'Z8Z2594C');kofiwidget2.draw();</script> 
      </div>
    </section>
  </div>
  {% include comments.html %}
</article>
