---
layout: default
---

<article class="component-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="row">
    <header class="col-md-12 col-sm-12 col-xs-12">
      <h2 class="blog-title">{{ page.title }}</h2>
      <time class="small" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </header>
  </div>
  <div class="row">
    <section class="col-md-12 col-sm-12 col-xs-12">
      <p class="blog-text">{{ content }}</p>
      <h5 class="text-center heading-blue-border">Have a question or comment?<br/>Ask me anything: <a href="http://twitter.com/home?status=@sceendy">@sceendy</a></h5>
    </section>
  </div>
</article>
