/* Core Elements */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  color: $darkgray;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}

h1, h2, h3, h5, h6 {
  font-family: $heading-font;
}

h1 {
  color: $main-pink;
  margin-top: 10px;
  margin-bottom: 0;
  // font-size: 2.0em; default
}

h2 {
  color: $darkgray;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 100;
  letter-spacing: initial;
  font-size: 1.6rem;
}

h3, .h3 {
  color: $gray;
  font-size: 1.4rem;
  padding: 5px 0;
  margin: 5px 0;
  text-transform: lowercase;
}

h4, .h4 {
  margin-bottom: 0;
  font-size: 1.1rem;
  color: $gray;
  text-transform: lowercase;
  margin: 0;
  & a {
    color: $main-gray!important;
  }
}

blockquote {
  font-size: 1.1rem;
  font-style: italic;
  color: $gray;
  padding: 15px;
  border-left: $main-blue 4px solid;
}
.heading-gray {
  color: $main-gray;
}

p {
  color: $darkgray;
  line-height: 1.6;
}

a {
  color: $main-blue;
  text-decoration: none;
  &:hover {
    color: $link-hover;
    cursor: pointer;
  }
}

img {
  max-width: 100%;
}

figcaption {
  font-style: italic;
  font-size: 0.7rem;
  color: $gray;
  margin-top: 5px;
}

.thin {
  font-weight: 400!important;
}
